// Dimensional variables!!
$nav_height_transparent     : 15vh;
$nav_height_dark            : 10vh;
$nav_x_padding              : 4rem;

// Chromatic variables!!
$web_page_bg_color          : #252A33;
$nav_menu_btn_color         : white;